:root {
  --primary-color: #1e77bc;
  --secondary-color: #2c3e50;
  --a-hover-color: orange;
  --a-normal-color: #0d47a1;
  --font-type: 'Titillium Web', sans-serif;
}

/* Inizio cambiamenti a mano css, cambiare ouput del scss!!*/
.background-color-main{
   background-color: rgba(52, 152, 219, 0.8);/*#1e77bc; */
  padding: 2%;
  border-radius: 10px;
}

 .full-screen-image {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

input:user-valid {
  border-color: green;
}

input:user-invalid {
  border-color: red;
}

.container h2, .container label {
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-type);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  visibility: hidden;
}
/* Fine cambiamenti a mano su css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
nav .logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
nav .logo a {
  color: white;
  text-decoration: none;
}
nav .logo a:hover {
  color: var(--a-hover-color);
}
nav .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav .menu li {
  margin-left: 20px;
}
nav .menu li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}
nav .menu li a:hover {
  color: var(--a-hover-color);
}
nav .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
nav .hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.4s;
}
nav #menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  nav .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  nav .menu li {
    margin: 0;
  }
  nav .menu li a {
    padding: 10px;
  }
  nav .hamburger {
    display: flex;
    margin-right: 5%;
  }
  nav #menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav #menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }
  nav #menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  nav #menu-toggle:checked + .hamburger + .menu {
    display: flex;
  }
}
.hero {
  margin-top: 50px;
  background: var(--primary-color);
  color: white;
  padding: 2rem 0;
  text-align: center;
}
.hero h1 {
  margin: 0;
}

.space_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--primary-color);
  margin: 20px auto;
}
.space_image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

section {
  padding: 2rem 0;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.content {
  display: flex;
  align-items: center;
  margin-right: 2%;
  margin-left: 1%;
}
.content img {
  width: 100%;
  margin-right: 2rem;
}
.content p {
  flex: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card {
  background: white;
  border: 1px solid #ddd;
  margin-top: 5%;
  padding: 2%;
  text-align: center;
  max-width: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--primary-color);
}
.cards .card h3, .cards .card h4 {
  margin-top: 2%;
  color: var(--primary-color);
}
.cards .card a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}
.cards .card a:hover {
  background: var(--primary-color);
  color: white;
}
.cards .card p {
  color: var(--secondary-color);
  font-style: italic;
}
.cards .card .linguaggi img {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  margin-right: 1%;
}
.cards .card img {
  border-radius: 10px;
  height: auto;
  width: 100%;
  object-fit: contain;
  margin: 0;
}

.profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--primary-color);
  margin: 20px auto;
}
.profile-card .profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-card .profile-image:hover {
  transition: 0.4s;
  padding: 5%;
}
.profile-card .profile-image:hover img {
  transform: scale(1.8);
  box-shadow: 0 4px 8px var(--primary-color);
  transition: 0.4s;
}
.profile-card .profile-description {
  flex: 1;
  margin-left: 20px;
}
.profile-card .profile-description h2 {
  color: var(--primary-color);
  margin: 0 0 10px;
}
.profile-card .profile-description h3 {
  color: var(--primary-color);
}
.profile-card .profile-description p {
  margin: 0;
  font-size: 1em;
  color: var(--secondary-color);
}
.profile-card .profile-description p a {
    color: var(--a-normal-color);
    text-decoration: none;
    font-weight: bold;
}
.profile-card .profile-description p a img {
  height: 24px;
  width: 24px;
  padding: 2px;
  border-radius: 10px;
  margin-top: 2px;
}
.profile-card .profile-description p a img:hover {
  background-color: var(--primary-color);
}
.profile-card .profile-description em {
  color: var(--primary-color);
}

@media (max-width: 683px) {
  .cards {
    flex-direction: column;
  }
  .cards .card {
    max-width: 100%;
  }
  .cards .card p {
    font-size: smaller;
  }
  .cards .card a {
    display: inline-block;
    margin-bottom: 5%;
    font-size: smaller;
  }
  .profile-card {
    flex-direction: column;
    text-align: left;
  }
  .profile-card .profile-image {
    margin-bottom: 20px;
  }
  .profile-card .profile-image:hover img {
    transform: scale(1.5);
  }
  .profile-card .profile-description {
    margin-left: 0;
  }
}
.contact {
  text-align: center;
}
.contact p {
  margin: 0;
}

.bg-dark-custom {
    background-color: var(--secondary-color) !important; /* Simile a .bg-dark */
}

.text-white {
    color: #fff !important;
}

.pt-4 {
    padding-top: 1.5rem !important; /* Bootstrap usa 1.5rem per pt-4 */
}

.mt-auto {
    margin-top: auto !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 200px;
    margin-left: 2%;
    margin-right: 2%;
}

@media (max-width: 600px) {
  .col-md-4 {
    margin-right: 15%;
  }
}

.col {
    flex: 1 1 auto;
    width: 100%;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled li{
    margin-top: 5px;
}

.svg {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1); /* Per rendere le icone bianche */
    margin-right: 10px;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.text-center {
    text-align: center !important;
    font-size: 0.9rem;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: var(--a-hover-color);
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 5%;
  border-radius: 10px;
  overflow: hidden;
}
table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}
table th {
  background-color: var(--secondary-color);
  color: white;
}
table td {
  color: var(--a-normal-color);
}
tbody tr:nth-child(odd) {
  background-color: #d6eaf8;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */